@import "../../../styles/mixin";
@import "../../../styles/variables";

.container {
    @include common_ui;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 2px;
    border-radius: 12px;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.zoom_in {
    width: 34px;
    height: 31.5px;
    padding-left: 11px;
    border-bottom: 1.5px solid $border-color;
}
.zoom_out {
    width: 34px;
    height: 30px;
    padding-left: 11px;
}

.zoom_in:disabled,
.zoom_out:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}
