@import "../../../styles/variables";
@import "../../../styles/mixin";

.input_container {
    @include custom_input(2px, 17px);
}

.message_textarea {
    display: block;
    width: 100%;
    max-height: 76px;
    padding-right: 33px;
    scrollbar-width: none;
    resize: none;
}

.send_button {
    position: absolute;
    right: 24px;
    bottom: 24.4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    background-image: url(/icons/send.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

.active {
    background-color: $point-color;
}
